# 1: Print a Quote

In [ ]:
print ('Captain Pickard once said, "There can be no justice so long as laws are absolute. Even life itself is an exercise in exceptions."')

Captain Pickard once said, "There can be no justice so long as laws are absolute. Even life itself is an exercise in exceptions."

# 2: Sort, Pop, Add, and Remove things from a List

In [ ]:
famous_people = ['Zendaya','Olivia', 'Harry']

# Permanently sort list alphabetically

famous_people.sort()
print (famous_people)

# Pop the middle name and store as another variable

singer = famous_people.pop(1)
print (singer)

# Add two new names to the end

famous_people.append('Selena')
famous_people.append('Chris')
print (famous_people)

# Remove the second name

del famous_people[1]
print (famous_people)

# Add your name to 3rd position

famous_people.insert(2, 'Pallavi')
print (famous_people)

['Harry', 'Olivia', 'Zendaya']
Olivia
['Harry', 'Zendaya', 'Selena', 'Chris']
['Harry', 'Selena', 'Chris']
['Harry', 'Selena', 'Pallavi', 'Chris']

# 3: Indexing Lists - Even and Odd Numbers

In [ ]:
integers = list(range(0,21))
print (integers)

# List that indexes only even numbers

print (integers[0:21:2])

# List that indexes only odd numbers

print (integers[1:21:2])

# List that indexes even numbers backwards

print (integers[::-2])

# List that indexes odd numbers backwards

print (integers[-2:-21:-2])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
[20, 18, 16, 14, 12, 10, 8, 6, 4, 2, 0]
[19, 17, 15, 13, 11, 9, 7, 5, 3, 1]

# 4: Copy, Delete, and Change Order within Lists

In [4]:
# Create a list with numbers from 0 to 35 in increments of 5

list1 = list(range(0, 40, 5))
print (list1)

# Copy the list and delete the last two entries

list1_copy = list1.copy()
del list1_copy[-1]
del list1_copy[-1]

print (list1)
print (list1_copy)

# Create a list with numbers from 0 to -28 in increments of -4

list2 = list(range(0, -29, -4))
print (list2)

# Sort list 2 into increasing order

print (list2[::-1])

[0, 5, 10, 15, 20, 25, 30, 35]
[0, 5, 10, 15, 20, 25, 30, 35]
[0, 5, 10, 15, 20, 25]
[0, -4, -8, -12, -16, -20, -24, -28]
[-28, -24, -20, -16, -12, -8, -4, 0]

# 5: Creating Tables with For Loops

In [ ]:
# Create multiplication table of 17

table_17 = []

factors = list(range(1,11))

for num1 in factors:
  table_17.append(num1*17)

print (table_17)

# Create multiplication table of 19

factors_19 = []
table_19 = []

for num1 in table_17:
  factors_19.append(num1//17)

for num1 in factors_19:
  table_19.append(num1*19)

print (table_19)

# Create table of squares of table_17

tablesq_17 = []

for num1 in table_17:
  tablesq_17.append(num1**2)

print (tablesq_17)

[17, 34, 51, 68, 85, 102, 119, 136, 153, 170]
[19, 38, 57, 76, 95, 114, 133, 152, 171, 190]
[289, 1156, 2601, 4624, 7225, 10404, 14161, 18496, 23409, 28900]