Block 1: Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Block 2: Web Scraping Data

In [2]:
url = 'https://en.wikipedia.org/wiki/MonsterVerse'
monster_verse = pd.read_html(url)
monster_verse = monster_verse[3]
monster_verse.head(7)

         Character  ...             Films
         Character  ... Godzilla vs. Kong
          Monsters  ...          Monsters
0         Godzilla  ...               CGI
1             MUTO  ...   Archive footage
2        King Kong  ...   Eric PeteyS[57]
3    King Ghidorah  ...   Archive footage
4            Rodan  ...   Archive footage
5           Humans  ...            Humans
6  Ishiro Serizawa  ...               NaN

[7 rows x 5 columns]

Block 3: Clean Dataframe
* Make the index the different characters instead of 0, 1, 2, 3. That is, it should be Godzilla, MUTO, King Kong,….
* Change the column names to just be the names of the movies (e.g., it should just be Godzilla instead of Films, Godzilla, Monsters. Also, change the index name to also just be “character” instead of Character, Character, Monster
* Remove the row that has all duplicates (i.e., “human”, “human”, “human”), since that doesn’t seem helpful to us in this dataframe.

In [3]:
# make index the different characters instead of numbers, change index name to be 'character'
monster_verse = monster_verse.set_index('Character')

# change column names to be names of the movies
monster_verse.columns = ['Godzilla', 'Kong: Skull Island', 'Godzilla: King of the Monsters', 'Godzilla vs. Kong']

# remove row with all duplicates ('human')
monster_verse = monster_verse.drop([monster_verse.index[5]])

monster_verse.head(7)

                                Godzilla  ... Godzilla vs. Kong
Character                                 ...
(Godzilla,)                  T.J. StormS  ...               CGI
(MUTO,)             Matt CrossSLee RossS  ...   Archive footage
(King Kong,)                         NaN  ...   Eric PeteyS[57]
(King Ghidorah,)                     NaN  ...   Archive footage
(Rodan,)                             NaN  ...   Archive footage
(Ishiro Serizawa,)          Ken Watanabe  ...               NaN
(Vivienne Graham,)         Sally Hawkins  ...               NaN

[7 rows x 4 columns]

Block 4: Save File
* save the file as a .csv with the delimiter being tabs

In [4]:
monster_verse.to_csv('monster_verse', sep= '\t')